%paper-header--title {
  font-size: em(14);
  line-height: em(20);
  font-weight: bold;
  margin: 0;
}

%paper-header--text {
  font-size: em(12);
  line-height: em(16);
  font-weight: 400;
  margin: 0;
}

%paper-large-header--title {
  font-size: em(24);
  line-height: em(24);
  font-weight: 400;
  margin: 0;
}

%paper-large-header--text {
  font-size: em(16);
  line-height: em(16);
  font-weight: 400;
  margin: 0;
}
